<form action='/invite/apply/' method='post'>
	<input type="hidden" name="code" value="{{code }}"></input>
	<label for="username">Username:</label>
	<input type="text" name="username"></input>
	<label for="username">Password:</label>
	<input type="password" name="password"></input>
	<label for="username">Confirm Password:</label>
	<input type="password" name="password2"></input>
	<input type="submit" value="Create account"</input>
</form>
