Invites left: {{ 11 - invites|length }}

<a href="/invite/generate/">Generate invites</a>

<table>
	<tr>
		<th>Invite Link</th>
		<th>Used by</th>
	</tr>
{% for invite in invites %}
<tr>
	<td><a href="/invite/{{ invite[0] }}">{{ invite[0] }}</a></td>
	<td>{{ invite[2] }}</td>
</tr>
{% endfor %}
</table>
