<html>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<meta charset="UTF-8"/>
		<title>Fricloud - Login</title>
		<style type="text/css">
			body {
    	  background-color: #DADADA;
    	}
    	body > .grid {
    	  height: 100%;
    	}
    	.image {
    	  margin-top: -100px;
    	}
    	.column {
    	  max-width: 450px;
    	}
		</style>
	</head>
	<body>
		<div class="ui middle aligned center aligned grid">
			<div class="column">
				<a href="#" class="ui centered image" style="width: 250px;">
					<img src="{{url_for('static', filename='logo_sky_fricloud.svg')}}"/>
				</a>
				<form action="/login" method=POST class="ui large form">
					<div class="ui stacked segment">
						<div class="field">
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input type="text" name="username" placeholder="Brugernavn">
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="lock icon"></i>
								<input type="password" name="password" placeholder="Adgangskode">
							</div>
						</div>
						<input type="submit" value="Login" class="ui fluid large submit primary button">
					</div>
				</form>
				<div class="ui message">
					Er du ikke medlem?
					<a href="#">Bliv Medlem</a>
				</div>
			</div>
		</div>
	</body>
</html>
