<form action="/password/" method="POST">
	<label for="oldPassword">Old password:</label>
	<input type="password" name="oldPassword"></input>

	<label for="password">Enter password:</label>
	<input type="password" name="password"></input>
	<label for="password2">Enter password again:</label>
	<input type="password" name="password2"></input>
	<input type="submit" value="Change Password"></input>

</form>
